<script setup>
import HeaderNav from '@/components/HeaderNav.vue'
import CardComponent from '@/components/CardComponent.vue'
import { register } from 'swiper/element/bundle'
import { computed, onMounted, onUnmounted, watch, ref, reactive } from 'vue'
import { useClientsStore } from '@/stores/clients'
import Home from '@/api/home'
import { signUp } from '@/api/auth'

register()
const store = useClientsStore()
const clients = ref([])
const slides = ref([])
const serviceList = ref([])
const windowWidth = ref(0)
const submitted = ref(false)
let errorValues = reactive({})
let errorServer = ref('')
const username = ref('')
const password = ref('')

const slidesPerView = computed(() => {
  let a = windowWidth.value >= 1920 ? 325 : 145
  a = windowWidth.value / a
  return a <= 13 ? +a.toFixed(1) : 13
})
const responsiveSpace = computed(() => {
  return windowWidth.value >= 1920 ? 16 : 8
})
const slicer = computed(() => {
  return windowWidth.value < 1920 ? 4 : 6
})
watch(slicer, (newSlicer) => {
  slides.value = sliceArraySlides(clients.value, newSlicer)
})

onMounted(() => {
  loadClients().then(() => {
    clients.value = store.clientsStore
    let l = Math.ceil(clients.value.length / 3)
    slides.value = sliceArraySlides(clients.value, slicer.value)
    serviceList.value = sliceArrayService(clients.value, l, 5)
  })
  window.addEventListener('resize', onResize)
})
onUnmounted(() => {
  window.removeEventListener('resize', onResize)
})

function onResize() {
  windowWidth.value = window.innerWidth
}
//работа с api
async function loadClients() {
  try {
    const response = await Home.loadClients()
    store.updateClientsStore(response.data)
  } catch (error) {
    console.error(error)
  }
}

function sliceArraySlides(arr, size) {
  let len = (arr && arr.slice && arr.length) || 0
  let result = []
  if (size !== Math.floor(size) || size < 1)
    throw new Error('invalid size: ' + size)
  for (let i = 0; i < len; i += size) {
    if (len) result.push(arr.slice(i, i + size))
  }
  return result
}
function sliceArrayService(arr, size, times) {
  let len = (arr && arr.slice && arr.length) || 0
  let result = []
  let b = 0
  if (size !== Math.floor(size) || size < 1)
    throw new Error('invalid size: ' + size)
  for (let i = 0; i < len; i += size) {
    for (let j = 0; j < times; j++) {
      if (len && j < 1) {
        result.push(arr.slice(i, i + size))
      } else {
        result[b] = result[b].concat(arr.slice(i, i + size))
      }
    }
    b++
  }
  return result
}
async function onSubmit() {
  submitted.value = true
  try {
    const response = await signUp({
      username: username.value,
      password: password.value,
    })
    const expirationDate = new Date(Date.now() + 60 * 60 * 1000)
    console.log('acess-token: ' + response.data.access_token)
    console.log('expires ' + expirationDate)
    document.cookie = `access_token=${
      response.data.access_token
    }; expires=${expirationDate.toUTCString()} path=/`
    this.$router.push('/')
  } catch (error) {
    errorServer.value = 'error.response.data'
    Object.assign(errorValues, { error: 'errror signUp' })
    console.error('error but it can pass with right URL')
  }
}
// async function logIn() {
//   submitted.value = true
//   try {
//     const response = await signIn({
//       username: username.value,
//       password: password.value,
//     })
//     const expirationDate = new Date(Date.now() + 60 * 60 * 1000)
//     console.log('acess-token: ' + response.data.access_token)
//     console.log('expires ' + expirationDate)
//     document.cookie = `access_token=${
//       response.data.access_token
//     }; expires=${expirationDate.toUTCString()} path=/`
//     this.$router.push('/')
//   } catch (error) {
//     errorServer.value = 'error.response.data'
//     Object.assign(errorValues, { error: 'errror signUp' })
//     console.error('error but it can pass with right URL')
//   }
// }
</script>

<template>
  <div>
    <HeaderNav class="header_nav" />
    <div>
      <p>
        Be the first who
        <br v-if="windowWidth > 1919" />
        Find Out Phone NUmber Change_
      </p>
    </div>
    <div class="clients_list">
      <swiper-container
        :slides-per-view="1"
        :centered-slides="true"
        :space-between="responsiveSpace"
        :pagination="true"
        :speed="1600"
        :loop="true"
        class="swiper_clients"
      >
        <swiper-slide
          v-for="(slide, i) in slides"
          :key="i"
          class="clients_slide"
        >
          <CardComponent
            v-for="(item, j) in slide"
            :key="j"
            :item="item"
            class="client_card"
            @click="console.log('pepa')"
          />
        </swiper-slide>
      </swiper-container>
    </div>
    <div>
      <p>
        Powerful monitor
        <br v-if="windowWidth > 1919" />
        of your dealer infestruction
      </p>
    </div>
    <div class="service_list">
      <swiper-container
        :slides-per-view="slidesPerView"
        :space-between="responsiveSpace"
        :free-mode="true"
        :row="1"
        :loop="true"
        class="mySwiper services_swiper"
        :speed="1700"
        :autoplay="{
          delay: 0.01,
          disableOnInteraction: false,
        }"
      >
        <swiper-slide
          v-for="(item, i) in serviceList[0]"
          :key="i"
          class="service_slide"
        >
          <CardComponent
            :item="item"
            class="service_card"
            @click="console.log('pepa')"
          />
        </swiper-slide>
      </swiper-container>
      <swiper-container
        :slides-per-view="slidesPerView"
        :space-between="responsiveSpace"
        :free-mode="true"
        :row="1"
        :loop="true"
        class="mySwiper services_swiper"
        :speed="1300"
        :autoplay="{
          delay: 0.01,
          disableOnInteraction: false,
        }"
      >
        <swiper-slide
          v-for="(item, i) in serviceList[1]"
          :key="i"
          class="service_slide"
        >
          <CardComponent
            :item="item"
            class="service_card"
            @click="console.log('pepa')"
          />
        </swiper-slide>
      </swiper-container>
      <swiper-container
        :slides-per-view="slidesPerView"
        :space-between="responsiveSpace"
        :free-mode="true"
        :row="1"
        :loop="true"
        class="mySwiper services_swiper"
        :speed="1700"
        :autoplay="{
          delay: 0.01,
          disableOnInteraction: false,
        }"
      >
        <swiper-slide
          v-for="(item, i) in serviceList[2]"
          :key="i"
          class="service_slide"
        >
          <CardComponent
            :item="item"
            class="service_card"
            @click="console.log('pepa')"
          />
        </swiper-slide>
      </swiper-container>
    </div>
    <div>
      <p>
        Start Free
        <br v-if="windowWidth > 1919" />
        today
      </p>
    </div>
    <form class="cta_form" @submit.prevent="onSubmit">
      <label for="">Username:</label>
      <input v-model="username" type="text" placeholder="Type your username" />
      <label for="">Password:</label>
      <input v-model.trim="password" type="password" placeholder="••••••" />
      <button>CREATE ACCOUNT</button>
    </form>
  </div>
</template>

<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

p {
  text-align: center;
  font-family: 'Inter';
  font-size: 2rem;
  padding: 0 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 2.25rem; /* 112.5% */
  letter-spacing: -0.02rem;
  text-transform: uppercase;
}

.header_nav {
  padding: 0 16px;
}

swiper-container::part(bullet-active) {
  background-color: white;
}

swiper-container::part(bullet) {
  background-color: rgba(255, 255, 255, 0.16);
}

.clients_slide {
  columns: 2;
  column-gap: 8px;
  padding-bottom: 30px;
}

.swiper_clients {
  max-width: 288px;
}

.client_card {
  display: flex;
  // padding: 5px;
  justify-content: center;
  margin-bottom: 8px;
  break-inside: avoid;
  break-inside: avoid-column;
  align-items: center;
  width: 140px;
  height: 128px;
  border-radius: 16px;
  background: linear-gradient(
      315deg,
      rgba(51, 123, 190, 0.2) 0%,
      rgba(51, 123, 190, 0) 100%
    ),
    rgba(255, 255, 255, 0.08);
  &:hover {
    background-color: #0a72d4;
  }
  & svg {
    width: 70%;
  }
}
.services_swiper {
  margin-bottom: 8px;

  &:nth-last-child(1) {
    margin-bottom: 0px;
  }
}
.service_card {
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  display: flex;
  height: 108px;
  width: 140px;
  background: linear-gradient(
      315deg,
      rgba(51, 123, 190, 0.2) 0%,
      rgba(51, 123, 190, 0) 100%
    ),
    rgba(255, 255, 255, 0.08);
  &:hover {
    background-color: #0a72d4;
  }
}
.cta_form {
  margin: 50px auto 32px;
  box-sizing: border-box;
  max-width: 512px;
  padding: 0 16px;
  label {
    font-size: 0.8125rem;
    font-family: 'Inter';
    margin-bottom: 6px;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    display: block;
  }
  input {
    box-sizing: border-box;
    padding: 17px 16px 18px;
    font-size: 0.8125rem;
    margin-bottom: 33px;
    border-radius: 16px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    height: 48px;
    color: white;
    width: 100%;
    border: 0;
    background: linear-gradient(
        315deg,
        rgba(51, 123, 190, 0.2) 0%,
        rgba(51, 123, 190, 0) 100%
      ),
      rgba(255, 255, 255, 0.08);
  }

  input::placeholder {
    color: #67829a;
  }

  input[type='password'],
  input[type='password'] {
    font: large Verdana, sans-serif;
    letter-spacing: 1px;
    line-height: 12px;
    font-size: 12px;
  }
  input:hover {
    outline: solid 2px rgba(47, 146, 239, 0.454);
  }

  input:focus-visible {
    outline: solid 3px rgba(47, 146, 239, 0.454);
    outline: none;
  }
  button {
    letter-spacing: -0.0125rem;
    box-sizing: border-box;
    border-radius: 160px;
    line-height: 1.5rem;
    font-size: 1.25rem;
    font-weight: 900;
    color: white;
    height: 160px;
    width: 160px;
    background: linear-gradient(
        315deg,
        rgba(51, 123, 190, 0.2) 0%,
        rgba(51, 123, 190, 0) 100%
      ),
      rgba(255, 255, 255, 0.08);
  }
  button:hover {
    background-color: #0a72d4;
    border-color: rgba(47, 146, 239, 0.454);
  }
  button:focus,
  button:focus-visible {
    outline: none;
    border-color: transparent;
    outline: solid 3px rgba(47, 146, 239, 0.454);
  }
}
.clients_list {
  margin-bottom: 90px;
  margin-top: 90px;
  padding: 16px;
  img {
    max-width: 100%;
  }
}

.service_list {
  margin-bottom: 90px;
  margin-top: 98px;
  img {
    max-width: 100%;
  }
}

@media all and (min-width: 1920px) and (orientation: portrait),
  all and (min-width: 1920px) and (orientation: landscape) {
  p {
    line-height: 7.25rem;
    font-size: 6.75rem;
    max-width: 1728px;
    margin: 0 auto;
  }
  .clients_slide {
    column-gap: 16px;
    columns: 3;
  }
  .swiper_clients {
    max-width: 962px;
  }
  .client_card {
    display: inline-flex;
    margin-bottom: 16px;
    height: 256px;
    width: 310px;
  }

  swiper-container::part(bullet-active) {
    height: 12px;
    width: 12px;
  }

  swiper-container::part(bullet) {
    height: 12px;
    width: 12px;
  }

  .services_swiper {
    margin-bottom: 16px;

    &:nth-last-child(1) {
      margin-bottom: 0px;
    }
  }
  .service_card {
    height: 224px;
    width: 310px;
  }
  .cta_form {
    margin: 67px auto 192px;
    padding: 0;
    label {
      font-weight: 400;
      font-size: 1rem;
    }
    input {
      padding: 22px 24px 26px;
      box-sizing: border-box;
      margin-bottom: 34px;
      border-radius: 16px;
      font-style: normal;
      font-size: 1rem;
      height: 64px;
    }

    input[type='password'],
    input[type='password'] {
      font-size: 16px;
      line-height: 16px;
      font: large Verdana, sans-serif;
      letter-spacing: 1px;
    }
    button {
      letter-spacing: -0.02rem;
      box-sizing: border-box;
      border-radius: 160px;
      line-height: 2rem;
      font-weight: 900;
      margin-top: 22px;
      font-size: 2rem;
      height: 224px;
      width: 224px;
    }
  }
}
</style>
