<script setup>
// import { ref } from 'vue'
const props = defineProps({
  item: Object,
})
// let svg = ref(props.item.data)
</script>

<template>
  <div v-html="props.item.data"></div>
</template>

<style scoped lang="scss"></style>
