<script setup></script>

<template>
  <div>
    <div class="menu_header">
      <div><router-link to="/">Uptify</router-link></div>
      <div class="menu_icon">
        <router-link to="/">
          <svg
            width="28"
            height="10"
            viewBox="0 0 28 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M28 0H0V2H28V0ZM28 8H12V10H28V8Z"
              fill="white"
            />
          </svg>
        </router-link>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.menu_header {
  a {
    font-family: 'Inter';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 1.5rem */
  }
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 58px;
}
.menu_icon:hover {
  path {
    fill: rgb(166, 166, 166);
  }
}
</style>
