<script setup>
import { computed } from 'vue'
import { useRoute } from 'vue-router'
const layout = computed(() => {
  return (useRoute().meta.layout || 'main') + '-layout'
})
</script>

<template>
  <component :is="layout">
    <router-view />
  </component>
</template>

<style scoped></style>
